.calenderCheckBox{
  display: none;
}
.calenderItemBox{
  background: red;
}
.check-data{
  padding: 0!important;
}
.check-box-adjustment.day{
  -webkit-appearance: none;
  border:0;
  height:50px;
  display: block;
  width: 100%;
  outline: 0;
  position: relative;
  margin: 0 auto;
  border-radius: 0;
  background: rgba(221, 240, 255, 0.25) !important;
}

.checkMark,.day.checkMark{
    background: #FFFFFF!important;
      &:after{
        content: url(../../../public/site-images/icons/check.png);
        height:100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
}
.table.customTable{
  thead{
    tr{
      th{
        border:1px solid #DFE0E9!important;
        text-align: center;
      }
    }
  }
  tbody{
    tr{
      td{
        border:1px solid #DFE0E9!important;
      }
      td{
        &:not(:first-child){
          background:#F5F9FC;
        }
        &:first-child{
          font-size: 16px;
          color:#222642;
          text-align: center;
          font-family: 'Montserrat', sans-serif;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }

}
