.academic{
  color: #2B9EFF;
  font-size: 15px;
  padding-bottom: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight:600;
}
.another-qualification{
  font-size: 15px;
  color: #222642;
  i{
    color:#2B9EFF;
  }
}
.horizontalRule{
  color:#DFE0E9;
}
.degree{
  color: #222642;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}
