.calenderCheckBox{
  display: none;
}
.calenderItemBox{
  background: red;
}

.checkMark,.day.checkMark{
    background: #FFFFFF!important;
      &:after{
        content: url(../../../public/site-images/icons/check.png);
        height: 25px;
        width: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateX(14px);
      }
}
.table.customTable{
  thead{
    tr{
      th{
        border:1px solid #DFE0E9!important;
        text-align: center;
      }
    }
  }
  tbody{
    tr{
      td{
        border:1px solid #DFE0E9!important;
      }
      td{
        &:not(:first-child){
          background:#F5F9FC;
        }
        &:first-child{
          font-size: 16px;
          color:#222642;
          text-align: center;
          font-family: 'Montserrat', sans-serif;

        }
      }
    }
  }

}
