
@import "step1";
@import "step2";
@import "step3";
@import "step4";
@import "step5";
@import "step6";

.bar{
  height: 4px;
  width: 117%;
  background: #DFE0E9;
  position: absolute;
  top: 27px;
  left: 82px;
  z-index: -1;
  &.bar-active{
    background: #222642;
  }
}

.uploadFile{
  @extend .back-button;
}
.back-button{
  background: transparent;
  border-radius: 5px;
  border: 1px solid $own-primary;
  padding: 4px 33px;
  color: $own-primary!important;
}
.modalControl{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.custom-modal{
  background: #53566dd6;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  .modalContainer{
    background-color: #FFFFFF;
    border: 1px solid #707070;
    padding: 50px;
    -webkit-border-radius:6px ;
    -moz-border-radius:6px ;
    border-radius: 6px;
  }
}
.img-responsive{
  width: 100%;
  height: auto;
}
.control-button{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 90px 0;
}
.continue-button{
  background-color: $own-primary;
  border-radius: 5px;
  color: #fff;
  border: 0;
  outline: 0;
  padding:6px 15px;
}
.step-main-top{
  transform: translateY(-29px);
  margin-bottom: 17px;
  ul{
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-around;
    li{
      list-style: none;
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      div{
        color: $text-color;
        font-size: 18px;
        line-height: 34px;
        font-family: 'Montserrat', sans-serif;
      }

      .step-circle{
        height: 54px;
        width: 54px;
        border-radius: 100%;
        border:4px solid #FFFFFF;
        background: #DFE0E9;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        img{
          width: 20px;
        }
        &.active{
          background: #222642;
        }
      }
    }
  }
}

button.btn:focus,.btn-outline-secondary:focus, .btn-outline-secondary.focus,.form-control:focus{
  box-shadow:none!important;
  outline: 0px!important;
}
.step-form{
  input{
    border-radius: 6px;
    border: 1px solid #DFE0E9;
    &::placeholder{
      color:#CBCBCB;
      font-family: 'Montserrat', sans-serif;
    }

  }

  label{
    font-size: 16px;
    color:$text-color;
    font-family: 'Montserrat', sans-serif;
  }
}


.header{
  .nav-container{
    background: linear-gradient(281deg, #0EBEFA, #196DDD);
  }
  .cover{
    min-height: 388px;
    max-height: 388px;
    background: linear-gradient(281deg, #0EBEFA, #196DDD);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    .tutorSignUp{
      font-size:40px;
      color:#FFFFFF;
      font-family: 'AvenirNextLTPro', sans-serif;
    }
  }
  .customNav{
    .navbar-brand{
      color:#fff!important;
      padding-top: 15px;
      font-size: 18px;
    }
    .navbar-nav{
      margin-top: 10px;
      li{
        a{
          color:#fff!important;
          margin-right: 18px !important;
          font-size: 18px;
          font-family: 'Montserrat', sans-serif;
        }
      }
      .cusButton{
        border-radius: 17px;
        color: #fff;
        background: transparent!important;
        border: 1px solid #fff!important;
      }
    }

  }
}
.footer{
  background: #222642;
  padding: 50px 0;
  font-family: 'Montserrat', sans-serif;
  .footerItem{
    .foorerItemHead{
      color: #A7ADD8;
      font-weight: bold;
      margin-bottom: 5px;
      font-size: 16px;
    }
    .footerHead{
      font-size:14px;
      color:#fff;
    }
    .itemList{
      padding: 0;
      li{
        list-style: none;
        a{
          color: #61678C;
          font-size: 16px;
          text-decoration: none;

        }
      }
    }
  }

}
.bottom-footer{
  background: #222642;
  .copyRight{
    color: #61678C;
  }
  .row{ border-top: 1px solid #61678C ;}
  .footer-right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
    ul{
      margin: 0; padding: 0;
      li{
        a{
          font-size: 14px;
          font-family: 'AvenirNextLTPro', sans-serif;
        }
      }
    }
  }

  .footer-link-items{
    li{
      display: inline;
      list-style: none;
      padding-right: 15px;
      a{
        color: #61678C;
        font-size: 12px;
        text-decoration: none;

      }
    }
  }
  .border-top{
    border-top:1px solid #61678C!important;
  }
}

.v-select .dropdown-toggle{
  padding: 0 !important;
  border-radius: 6px !important;
}
.v-select input[type=search], .v-select input[type=search]:focus{
  margin: 0 !important;
}
.v-select .vs__actions {
  display: none !important;
}
.dropdown-toggle::after{
  display: none !important;
}